<!DOCTYPE html>
<html>
<head>

{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'ywsapp/css/active.css' %}?v={{scr_version}}">


<script>
var workout_state = "show";	/* show, ready, pause, run */
function start_stop_workout() {
	let pause_frame = document.getElementById('pause_frame');
	
	if (workout_state == "ready" || workout_state == "pause") {
		if (workout_state == "ready") {
			let pause_text = document.getElementById('pause_text');
			pause_text.innerHTML = "ПАУЗА";
		}
		pause_frame.style.display = 'none';
		workout_state = "run";
	} else {
		workout_state = "pause";
		pause_frame.style.display = 'block';
		for (let _s = 0; _s <  workout.sets.length; _s++) {
			for (let _a = 0; _a <  workout.sets[_s].asanas.length; _a++) {
				for (let _t = 0; _t <  workout.sets[_s].asanas[_a].tasks.length; _t++) {
					let _keys = Object.keys(workout.sets[_s].asanas[_a].tasks[_t].sounds);
					for (let _k = 0; _k < _keys.length; _k++) {
						let _sound = workout.sets[_s].asanas[_a].tasks[_t].sounds[_keys[_k]];
						if (!_sound.audio.paused)
							_sound.audio.pause();
					}
				}
			}
		}
	}
}
</script>
</head>


<body>

	<div class="active-container">
		<div class="active-content">
			<div id="pause_frame" class="text-center cursor_default" onclick="start_stop_workout()">
				<hr>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b id="pause_text">НАЧАТЬ</b>&nbsp;&nbsp;&nbsp;&nbsp;<hr>
			</div>
			<img id="asana_image" src="" class="active-image" onclick="start_stop_workout()">
			<div id="asana_name" class="top-right cursor_default">Top Right</div>
			<div id="timer" class="bottom-right cursor_default">Bottom Right</div>
		</div>
	</div>

</body>

<script src="{% static 'ywsapp/res/NoSleep.min.js' %}?v={{scr_version}}"></script>
<script>
	var noSleep = new NoSleep();
	noSleep.enable(); // keep the screen on!
	//noSleep.disable(); // let the screen turn off.
</script>

<script>
    let xhr = new XMLHttpRequest();
    var workout = null;

	var wavs = {};
    xhr.open('GET', "{% static 'ywsapp/res/wavs/wavs.json' %}?v={{scr_version}}", false);
    xhr.send();
    if (xhr.status == 200) {
		let resp = JSON.parse(xhr.responseText)
		Object.keys(resp).forEach(function (elem) {
			wavs[elem] = new Audio("{% static 'ywsapp/res/wavs/' %}" + resp[elem])
		})
	}
	
	properties = "";
	for (var i = 0; i < localStorage.length; i++)
		properties += '&' + localStorage.key(i) + '=' + localStorage.getItem(localStorage.key(i));
	
    xhr.open('GET', '/view_workout?id={{ workout_id }}', false);
    xhr.send();
    if (xhr.status == 200)
        workout = JSON.parse(xhr.responseText)
    
    
	var current_set_idx = 0;
	var current_asana_idx = 0;
	var current_task_idx = 0;
	var current_task_time = 0;
    var current_task_image = 0;
    var first_load = true;
    var timer_div = document.getElementById('timer');
    var name_div = document.getElementById('asana_name');
    var asana_img = document.getElementById('asana_image');


	// Preload all audio files for this workout
	for (let _s = 0; _s <  workout.sets.length; _s++) {
		for (let _a = 0; _a <  workout.sets[_s].asanas.length; _a++) {
			for (let _t = 0; _t <  workout.sets[_s].asanas[_a].tasks.length; _t++) {
				let _keys = Object.keys(workout.sets[_s].asanas[_a].tasks[_t].sounds);
				for (let _k = 0; _k < _keys.length; _k++) {
					let _sound = workout.sets[_s].asanas[_a].tasks[_t].sounds[_keys[_k]];
					_sound.audio = new Audio("{% static 'ywsapp/res/sounds_merged/' %}" + _sound.file);
				}
			}
		}
	}
   

	function get_current_task(inc_task = false) {
		if (current_set_idx >= workout.sets.length) {
			/* All sets complete, so workout is complete*/
			return;
		}

		if (current_asana_idx >= workout.sets[current_set_idx].asanas.length) {
			current_set_idx++;
			current_asana_idx = 0;
			current_task_idx = 0;
			return get_current_task();
		}

		//while (workout.sets[current_set_idx].asanas[current_asana_idx].tasks.length == 0)
		//	current_asana_idx++;

		if (inc_task)
			current_task_idx++;

		if (current_task_idx >= workout.sets[current_set_idx].asanas[current_asana_idx].tasks.length) {
			current_asana_idx++;
			current_task_idx = 0;
			return get_current_task();
		}

		return workout.sets[current_set_idx].asanas[current_asana_idx].tasks[current_task_idx];
	}

    function process() {
		let task_changed = false;

		if ((workout_state == "pause") || (workout_state == "ready"))
			return;
		
		current_task = get_current_task();
		if (current_task === undefined)
			return;

		if ((current_task_time >= current_task.property.value) || first_load) {
			if (!first_load) {
				let bell = current_task.metronome.bell;
				if (bell in wavs)
					wavs[bell].play();
				
				current_task = get_current_task(inc_task = true);
				if (current_task === undefined) {
					if (bell in wavs)
						wavs[bell].addEventListener('ended', function() {
    						// Audio has ended when this function is executed.
							window.location.href = "/?wuid={{active_wuid}}";
						}, false);
					else
						window.location.href = "/?wuid={{active_wuid}}";
					return false;
				}
			}
			
			first_load = false;
			
			name_div.innerText = current_task.caption;
			//current_task_time_start = new Date().getTime();
			current_task_time = 0;
			task_changed = true;
		} else {
			let tick_id = current_task.metronome.tick;
			if (tick_id in wavs)
				wavs[tick_id].play();
		}
		
		if (workout_state != "show") {
			let min_key = Infinity
			for (let k in current_task.sounds) {
				if (current_task.sounds[k].processed === undefined)
					min_key = Math.min(parseInt(k), min_key)
			}

			if ((min_key !== Infinity) && (current_task_time >= min_key)) {
				let snds = current_task.sounds[min_key];
				current_task.sounds[min_key]['processed'] = true
				current_task.sounds[min_key]['audio'].play();
			}
		}

		if (((current_task_time % 4) == 0) || task_changed) {
			current_task_image = (current_task_image + 1) % current_task.images.length;
			asana_img.src = "{% static 'ywsapp/res/imgs/' %}" + current_task.images[current_task_image] + '.png'
		}
		
		var seconds = current_task_time % 60;
		var minutes = (current_task_time - seconds) / 60;
		
		if (seconds < 10) seconds = "0" + seconds;
		if (minutes < 10) minutes = "0" + minutes;
		timer_div.textContent = "\u00A0" + minutes + ":" + seconds + "\u00A0";
		//timer_div.textContent = current_task_time;

		if (workout_state == "show") {
			workout_state = "ready";
			return;
		}

		if (!task_changed)
			current_task_time++;
    }
    
    process();	// First process to start immediately
    setInterval(process, 1000);
	document.body.style.backgroundImage = "url('{% static 'ywsapp/res/activebg/' %}" + "{{active_bg_image}}" + "')";
</script>

</html>
