<!DOCTYPE html>
<html>
<head>

{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'ywsapp/css/text_aligning.css' %}">
</head>

<body>

	<div class="container">
		<div style="display: inline-block; position: relative;">
			<img id="asana_image" src="" class="fit">
			<div id="asana_name" class="top-right">Top Right</div>
			<div id="timer" class="bottom-right">Bottom Right</div>
		</div>
	</div>

</body>

<script>
    var xhr = new XMLHttpRequest();
    var workout = null;

	var ticks = {};
	var bells = {};
    xhr.open('GET', "{% static 'ywsapp/res/wavs/ticks.json' %}", false);
    xhr.send();
    if (xhr.status == 200) {
		let resp = JSON.parse(xhr.responseText)
		Object.keys(resp).forEach(function (elem) {
			ticks[elem] = new Audio("{% static 'ywsapp/res/wavs/' %}" + resp[elem])
		})
	}

	xhr.open('GET', "{% static 'ywsapp/res/wavs/bells.json' %}", false);
    xhr.send();
    if (xhr.status == 200) {
		let resp = JSON.parse(xhr.responseText)
		Object.keys(resp).forEach(function (elem) {
			bells[elem] = new Audio("{% static 'ywsapp/res/wavs/' %}" + resp[elem])
		})
	}
	
	
	properties = "";
	for (var i = 0; i < localStorage.length; i++)
		properties += '&' + localStorage.key(i) + '=' + localStorage.getItem(localStorage.key(i));
	
	console.log( '/view_workout?workout_name=' + window.location.href.split('?')[1] )
    xhr.open('GET', '/view_workout?workout_name=' + window.location.href.split('?')[1], false);
    xhr.send();
    if (xhr.status == 200)
        workout = JSON.parse(xhr.responseText)
    
    
	var current_asana_idx = 0;
	var current_task_idx = 0;
    var current_task_time_start = new Date().getTime();
    var current_task_image = 0;
    var first_load = true;
    var timer_div = document.getElementById('timer');
    var name_div = document.getElementById('asana_name');
    var asana_img = document.getElementById('asana_image');
    var task_audio = new Audio();
   

    function process() {
		let task_changed = false;
		let now = new Date().getTime();
		let current_task_time = Math.round((now - current_task_time_start) / 1000);
		
		
		if (current_asana_idx >= workout.asanas.length)
			return;

		
		while (workout.asanas[current_asana_idx].tasks.length == 0)
			current_asana_idx++;

		if ((current_task_time >= workout.asanas[current_asana_idx].tasks[current_task_idx].property.value) || first_load) {
			if (!first_load) {
				let bell = workout.asanas[current_asana_idx].tasks[current_task_idx].metronome.bell;
				if (bell in bells)
					bells[bell].play();
				
				current_task_idx++;
			}
			
			first_load = false;
			if (current_task_idx >= workout.asanas[current_asana_idx].tasks.length) {
				current_asana_idx++;
				current_task_idx = 0;
				if (current_asana_idx >= workout.asanas.length) {
					window.location.href = "/index-sidenav.html?" + workout.name;
				}
			}
			
			name_div.innerText = workout.asanas[current_asana_idx].tasks[current_task_idx].caption;
			current_task_time_start = new Date().getTime();
			task_changed = true;
		} else {
			let tick_id = workout.asanas[current_asana_idx].tasks[current_task_idx].metronome.tick;
			console.log(tick_id)
			if (tick_id in ticks)
				ticks[tick_id].play();
		}
		
		var snds = workout.asanas[current_asana_idx].tasks[current_task_idx].sounds[current_task_time];
		if (snds !== undefined) {
			console.log(snds);
			task_audio.src = "/data/sounds_merged/" + snds + ".mp3";
			task_audio.play();
		}
		
		if (((current_task_time % 4) == 0) || task_changed) {
			current_task_image = (current_task_image + 1) % workout.asanas[current_asana_idx].tasks[current_task_idx].images.length;
			asana_img.src = "{% static 'ywsapp/res/imgs/' %}" + workout.asanas[current_asana_idx].tasks[current_task_idx].images[current_task_image] + '.png'
		}
		
		var seconds = current_task_time % 60;
		var minutes = (current_task_time - seconds) / 60;
		
		if (seconds < 10) seconds = "0" + seconds;
		if (minutes < 10) minutes = "0" + minutes;
		timer_div.textContent = minutes + ":" + seconds;
		//timer_div.textContent = current_task_time;
    }
    
    process();
    setInterval(process, 1000);
</script>

</html>
