<!DOCTYPE html>
<html>
<head>

{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'ywsapp/css/active.css' %}?v={{scr_version}}">


<script>
var workout_state = "show";	/* show, load, ready, pause, run */
var workout_audio = new Audio("/sound?id={{ workout_id }}");

function start_stop_workout() {
	let pause_frame = document.getElementById('pause_frame');
	
	if (workout_state == "ready" || workout_state == "pause") {
		if (workout_state == "ready")
			pause_text.innerHTML = "ПАУЗА";
		pause_frame.style.display = 'none';
		workout_state = "run";
		workout_audio.play();
	} else if (workout_state == "run") {
		workout_state = "pause";
		pause_frame.style.display = 'block';
		workout_audio.pause();
	}
}
</script>
</head>


<body>
	<div class="active-container">
		<div class="active-content">
			<div id="pause_frame" class="text-center cursor_default" onclick="start_stop_workout()">
				<hr>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b id="pause_text">ЗАГРУЗКА...</b>&nbsp;&nbsp;&nbsp;&nbsp;<hr>
			</div>
			<img id="asana_image" src="" class="active-image" onclick="start_stop_workout()">
			<div id="asana_name" class="top-right cursor_default">Top Right</div>
			<div id="timer" class="bottom-right cursor_default">Bottom Right</div>
		</div>
	</div>
</body>


<script src="{% static 'ywsapp/res/NoSleep.min.js' %}?v={{scr_version}}"></script>
<script>
	var noSleep = new NoSleep();
	noSleep.enable();
</script>

<script>
    var workout = null;
	let xhr = new XMLHttpRequest();
    xhr.open('GET', '/get_workout?id={{ workout_id }}', false);
    xhr.send();
    if (xhr.status == 200)
        workout = JSON.parse(xhr.responseText)
    
	var current_task_time = null;
    var current_task_image = 0;
	var task_schedule_idx = null;
    var timer_div = document.getElementById('timer');
    var name_div = document.getElementById('asana_name');
    var asana_img = document.getElementById('asana_image');
	var pause_text = document.getElementById('pause_text');


    function process() {
		if ((workout_state == "load") || (workout_state == "ready")) {
			if (workout_audio.readyState == 4) {
				pause_text.innerHTML = "НАЧАТЬ";
				workout_state = "ready";
			}
			return;
		}

		let current_task_time = Math.floor(workout_audio.currentTime);
		current_task = workout.timetable[workout.schedule[current_task_time]];
		if (current_task === undefined) {
			window.location.href = "/?wuid={{active_wuid}}";
			return;
		}

		task_changed = ((task_schedule_idx == null) || (task_schedule_idx != workout.schedule[current_task_time]));
		task_schedule_idx = workout.schedule[current_task_time];

		/* ToDo: window.location.href = "/?wuid={{active_wuid}}"; on stopped audio */
		if (((current_task_time % 4) == 0) || task_changed) {
			name_div.innerText = current_task.caption;
			current_task_image = (current_task_image + 1) % current_task.images.length;
			asana_img.src = "{% static 'ywsapp/res/imgs/' %}" + current_task.images[current_task_image] + '.png'
		}
		
		var seconds = current_task_time % 60;
		var minutes = (current_task_time - seconds) / 60;
		
		if (seconds < 10) seconds = "0" + seconds;
		if (minutes < 10) minutes = "0" + minutes;
		timer_div.textContent = "\u00A0" + minutes + ":" + seconds + "\u00A0";
		//timer_div.textContent = "audio state: " + workout_audio.readyState + ", time: " + workout_audio.currentTime;
		//timer_div.textContent = current_task_time;

		if (workout_state == "show")
			workout_state = "load";
    }
    
    process();	// First process to start immediately
    setInterval(process, 1000);
	document.body.style.backgroundImage = "url('{% static 'ywsapp/res/activebg/' %}" + "{{active_bg_image}}" + "')";
</script>

</html>
