<!DOCTYPE html>
<!--- https://freefrontend.com/css-sidebar-menus/ -->
<!--- https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_portfolio&stacked=h -->
<!--- https://www.w3schools.com/html/html_layout.asp -->
<html>
<head>

{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'ywsapp/css/w3.css' %}">
<link rel="stylesheet" href="{% static 'ywsapp/css/workouts_list.css' %}">
<link rel="stylesheet" href="{% static 'ywsapp/css/main_elements.css' %}">
<link rel="stylesheet" href="{% static 'ywsapp/css/text_aligning.css' %}">
<link rel="stylesheet" href="{% static 'ywsapp/css/snackbar.css' %}">
<link rel="stylesheet" href="{% static 'ywsapp/css/modal.css' %}">


<script>
function save_workout_local_storage(workout_nm)
{
    const collection = document.getElementsByClassName("prop_input");
    for (var i = 0; i < collection.length; i++) {
        localStorage.setItem(collection[i].id, collection[i].value);
    }
    window.location.href = "/active?" + workout_nm;
}

function show_login_form()
{
    document.getElementById("frm_login").style.display = "block";
    document.getElementById("btn_show_login").style.display = "none";
}

function login_form_submit()
{
    document.getElementById('frm_login').submit()
}

function show_snackbar(text) {
  // Get the snackbar DIV
  var x = document.getElementById("snackbar");

  // Add the "show" class to DIV
  x.className = "show";
  x.textContent = text;

  // After 3 seconds, remove the show class from DIV
  setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
}
</script>

</head>
<body>


<div id="workouts_list" class="w3-sidebar w3-bar-block w3-light-grey" style="width:27%">
  <br>
  <img src="{% static 'ywsapp/res/logo.png' %}" alt="logo" class="center">
  <hr>
    {% if user.is_authenticated %}
        <p>Добро пожаловать {{ user.username }} !!!</p>
        <a href="/logout">выход</a>
    {% else %}
        {% load crispy_forms_tags %}
        <button id="btn_show_login" class="center" onclick="show_login_form()">ВОЙТИ</button>
        <form id="frm_login" method="post" class="form_login">
            {% csrf_token %}
            {{ form_login|crispy }}
            <button type="button" onclick="login_form_submit()">вход/регистрация</button>
        </form>
    {% endif %}
  <hr>

</div>


<div style="margin-left:27%">
    <div class="w3-container">
        <h2 id="caption" hidden="hidden"></h2>
        <form id="frm_active" action="/active.html?" method="GET" hidden="hidden">
            <ol id="asanas_list" style="--length: 0" role="list"></ol>
        </form>

        <div id="select_log" class="container">
            <div style="display: inline-block; position: relative;">
                <img id="background_img" class="imgmain">
                <div id="text_begin" class="begining_text" hidden="hidden">
                    <hr>
                    <b>Выберите тренировку</b>
                    <hr>
                </div>
                <div id="text_complete" class="completion_text" hidden="hidden"><b>Успешное завершение<br>тренировки</b></div>
            </div>
        </div>
        
        <!-- The Modal (contains the Sign Up form) -->
        <div id="registration_popup" class="popup">
            <div class="popup-content">
                <h1 style="color:green;">Добро пожаловать!</h1>
                <form method="POST" class="form-group">
                    {% csrf_token %}
                    {{ form_register|crispy }}
                    <button type="submit" class="btn btn-success">Создать аккаунт</button>
                    <button type="button" class="btn btn-success" onclick="location.href = '/'">Продолжить анонимно</button>
                </form>
            </div>
        </div>
        
        <div id="runit" hidden="hidden" class="run_button">
            <a id="active" onclick="">&#x1F662 Run it! &#x1F661</a>
        </div>
        

    </div>
</div>



</body>

<script>
    function do_show_element(e, list, idx) {
        let node = document.createElement('li');
        let header = document.createElement('h3');
        
        header.textContent = e.caption;
        if (e.properties != null) {
            var prop_table = document.createElement('table');
                
            for (const [prop_name, prop_descr] of Object.entries(e.properties)) {
                
                var tbl_r = document.createElement('tr');
                var tbl_d = document.createElement('td');
                
                tbl_d.textContent = prop_descr.caption;
                tbl_r.appendChild(tbl_d);
                
                tbl_d = document.createElement('td');
                var inp = document.createElement('input');
                inp.type = "number";
                inp.value = prop_descr.default;
                inp.id = "asana" + i + "_" + prop_name;
                inp.className = "prop_input";
                tbl_d.appendChild( inp );
                tbl_r.appendChild(tbl_d);
                prop_table.appendChild(tbl_r);
            }
        }

        node.appendChild(header);
        node.appendChild(prop_table);
        node.id = "asana_element_" + idx;
        node.style = "--i: " + idx;
        list.appendChild(node);
    }

    function select_workout(_id) {
        console.log("Loading workout id " + _id);
        document.getElementById('select_log').hidden = true;
        //document.getElementById("active").href += nm;
        let xhr = new XMLHttpRequest();
        xhr.open('GET', '/view_workout?id=' + _id, false);
        xhr.send();
        if (xhr.status != 200) {
            console.log("Fail to load workout " + _id + " with status " + xhr.status);
            return;
        }
        
        const workout = JSON.parse(xhr.responseText)
        document.getElementById('caption').textContent = workout.caption;

        let list = document.getElementById('asanas_list');
        let idx = 0;
        
        list.innerHTML = '';
        for (i = 0; i < workout.sets.length; i++) {
            if (workout.sets[i].visible)
                do_show_element(workout.sets[i], list, idx++)
            else {
                for (j = 0; j < workout.sets[i].asanas.length; j++)
                    do_show_element(workout.sets[i].asanas[j], list, idx++)
            }
        }
        
        list.style = "--length: " + idx;
        document.getElementById('active').setAttribute('onclick','save_workout_local_storage("' + workout.id + '");');
        document.getElementById('caption').hidden = false;
        document.getElementById('frm_active').hidden = false;
        document.getElementById('runit').hidden = false;
    }

    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/list_workouts', false);
    xhr.send();
    if (xhr.status == 200) {
        const workouts_list = JSON.parse(xhr.responseText)
        var list = document.getElementById('workouts_list');

        console.log(list)
        
        console.log(workouts_list)
        for (i = 0; i < workouts_list.length; i++) {
            var anker = document.createElement('a');
            anker.id = "workout_element_" + i;

            anker.href = "#";// + 
            anker.setAttribute('onclick', 'select_workout("' + workouts_list[i].id + '");');
            anker.text = workouts_list[i].caption;
            anker.className = "w3-bar-item w3-button";
            
            list.appendChild(anker);
        }
    }
    
    if (window.location.href.split('?').length == 2)
        document.getElementById('text_complete').hidden = false;
    else
        document.getElementById('text_begin').hidden = false;
    
    background_img_id = sessionStorage.getItem('background_img_id');
    if (background_img_id == null) {
        background_img_id = "{{main_bg_image}}";
        sessionStorage.setItem('background_img_id', background_img_id);
    }
    document.getElementById('background_img').src = "{% static 'ywsapp/res/mainbg/' %}" + background_img_id;
</script>

{%if show_registration_form %}
<script>
document.getElementById('registration_popup').style.display='block';
</script>
{% endif %}

</html>
