<!DOCTYPE html>
<!--- https://freefrontend.com/css-sidebar-menus/ -->
<!--- https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_portfolio&stacked=h -->
<!--- https://www.w3schools.com/html/html_layout.asp -->
<html>
<head>

{% load static %}
{% load humanize %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="{% static 'ywsapp/css/w3.css' %}">
<link rel="stylesheet" href="{% static 'ywsapp/css/workouts_list.css' %}">
<link rel="stylesheet" href="{% static 'ywsapp/css/main_elements.css' %}?v=1.0">
<link rel="stylesheet" href="{% static 'ywsapp/css/text_aligning.css' %}">
<link rel="stylesheet" href="{% static 'ywsapp/css/snackbar.css' %}">
<link rel="stylesheet" href="{% static 'ywsapp/css/modal.css' %}">
<link rel="stylesheet" href="{% static 'ywsapp/css/input_number.css' %}">
<link rel="stylesheet" href="{% static 'ywsapp/css/collapsible.css' %}">


<script>
function save_workout_local_storage(workout_nm)
{
    const collection = document.getElementsByClassName("prop_input");
    for (var i = 0; i < collection.length; i++) {
        localStorage.setItem(collection[i].id, collection[i].value);
    }
    window.location.href = "/active?id=" + workout_nm;
}

function show_login_form()
{
    document.getElementById("frm_login").style.display = "block";
    document.getElementById("btn_show_login").style.display = "none";
}

function login_form_submit()
{
    document.getElementById('frm_login').submit()
}

function start_user_register() {
    document.getElementById('text_begin').style.display = 'none';
    document.getElementById('registration_popup').style.display = 'block';
}

function show_snackbar() {
   var x = document.getElementById("snackbar");
   x.className = "show";
   setTimeout( function(){ x.className = x.className.replace("show", ""); }, 7000 );
}

function show_user_info() {
    document.getElementById('main_workout_list_display').style.display = 'none';
    document.getElementById('main_centered_display').style.display = '';

    document.getElementById('text_begin').style.display = 'none';
    document.getElementById('user_info_popup').style.display = 'block';
}

function hide_user_info() {
    document.getElementById('user_info_popup').style.display = 'none';
    document.getElementById('text_begin').style.display = '';
}
</script>

</head>
<body>


<div id="workouts_list" class="w3-sidebar w3-bar-block w3-light-grey" style="width:27%">
  <br>
  <img src="{% static 'ywsapp/res/logo.png' %}" alt="logo" class="center">
  <hr>
  <div class="w3-container w3-center">
    {% if user.is_authenticated %}
        <h5 class="w3-center w3-deep-deep-purple w3-round-large">Добро пожаловать <a id="user_name" onclick="show_user_info()"><b>{{ user.username }}</b></a></h5>
        <a href="/logout">выход</a>
    {% else %}
        {% load crispy_forms_tags %}
        <button id="btn_show_login" class="center" onclick="show_login_form()">ВОЙТИ</button>
        <form id="frm_login" method="post" class="form_login">
            {% csrf_token %}
            {{ form_login|crispy }}
            <p class="w3-tiny">&nbsp;</p>
            <button type="submit" onclick="login_form_submit()">вход</button>
            <button type="button" onclick="start_user_register()">регистрация</button>
        </form>
    {% endif %}
  </div>
  <hr>

</div>


<div style="margin-left:27%">
    <div id="main_workout_list_display" class="w3-container" style="background-image: url({% static 'ywsapp/res/activebg/dust_scratches.png' %})">
        <h2 id="caption"></h2>
        <form id="frm_active" action="/active.html?" method="GET">
            <ol id="asanas_list" style="--length: 0" role="list"></ol>
        </form>
        <div id="total_time" class="total_time">
            <h4><div id="total_time_value">TOTAL TIME</div></h4>
        </div>
        <div id="runit" class="run_button w3-center">
            <a id="runit_href" onclick=""><img class="run_image" src="{% static 'ywsapp/res/start-lotus.png' %}" alt="logo"></a><br>
            НАЧАТЬ ТРЕНИРОВКУ
        </div>
    </div>
    <!--- ************************************************************************************************************************************** -->
    <div id="main_centered_display" class="w3-container main_centered_div">
        <div id="text_begin" class="text_begining" hidden="hidden">
            <hr><b>&nbsp;&nbsp;Выберите тренировку&nbsp;&nbsp;</b><hr>
        </div>
        <div id="text_complete" class="text_completion" hidden="hidden">
            <hr>&nbsp;&nbsp;Успешное завершение&nbsp;&nbsp;<br>тренировки<hr>
        </div>
        
        {% if user.is_authenticated %}
        <!-- The Modal (contains the User info data) -->
        <div id="user_info_popup" class="popup" hidden="hidden">
            <div class="popup-content w3-round-xxlarge w3-sand">
                <h1 style="color:rgb(124, 10, 177);">{{ user.get_username }}</h1>
                <hr>
                Всего тренировок: <b>{{ user.complete_workouts }}</b><br>
                Зарегестрирован: {{ user.date_joined }}<br>
                Последняя тренировка: {{ user.last_workout_date|naturaltime }}<br>
                <hr>
                <form id="frm_uinfo" method="POST" class="form-group">
                    {% csrf_token %}
                    {{ form_user_info|crispy }}
                    <br>
                    <button type="submit" class="btn btn-success" onclick="hide_user_info()" name="submit_user_info">OK</button>
                </form>
            </div>
        </div>
        {% endif %}

        <!-- The Modal (contains the Sign Up form) -->
        <div id="registration_popup" class="popup">
            <div class="popup-content w3-round-xxlarge w3-sand">
                <h1 style="color:green;">Добро пожаловать!</h1>
                <form method="POST" class="form-group">
                    {% csrf_token %}
                    {{ form_register|crispy }}
                    <hr>
                    <button type="submit" class="btn btn-success">Создать аккаунт</button>
                    <p class="w3-tiny">&nbsp;</p>
                    <button type="button" class="btn btn-success" onclick="location.href = '/'">Продолжить анонимно</button>
                </form>
            </div>
        </div>

        <!-- The actual snackbar -->
        <div id="snackbar" hidden="hidden"><pre style="text-align: left;">{{ snack_text }}</pre></div>
    </div>
</div>



</body>

<script src="{% static 'ywsapp/scripts/workout_elements.js' %}"></script>
<script src="{% static 'ywsapp/scripts/background_img.js' %}"></script>
<script>
    let xhr = new XMLHttpRequest();
    xhr.open('GET', '/list_workouts', false);
    xhr.send();
    if (xhr.status == 200) {
        const workouts_list = JSON.parse(xhr.responseText)
        var list = document.getElementById('workouts_list');

        for (const k in workouts_list) {
            let group_tag_button = document.createElement('button');
            group_tag_button.className = "collapsible";
            group_tag_button.textContent = k;

            let group_div = document.createElement('div');
            if (k != "null") {
                list.appendChild(group_tag_button);
                group_div.className = "collapsible_content";
            }
            list.appendChild(group_div);

            for (i = 0; i < workouts_list[k].length; i++) {
                var anker = document.createElement('a');
                anker.id = "workout_element_" + i;

                anker.href = "#";
                anker.setAttribute('onclick', 'select_workout("' + workouts_list[k][i].id + '", "{% static 'ywsapp/res/imgs/thumbnails/' %}"); ');
                anker.text = workouts_list[k][i].caption;
                anker.className = "w3-bar-item w3-button";
                
                group_div.appendChild(anker);
            }
        }

        list.appendChild(document.createElement('hr'));
    }
    
    {% if workout_complete %}
    document.getElementById('text_complete').hidden = false;
    {% else %}
    document.getElementById('text_begin').hidden = false;
    {% endif %}
    

    
    {% if snack_text is not None %}
    setTimeout( function(){ show_snackbar(); }, 500 );
    {% endif %}

    setup_background_image("{% static 'ywsapp/res/mainbg/' %}");
    setup_collapsible_list_height();
</script>


<script>
{%if show_registration_form %}
document.getElementById('registration_popup').style.display='block';
{% endif %}
</script>


</html>
