/* Center an image, https://www.w3schools.com/css/css_align.asp */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.main_centered_div {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
}

.form_login {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.run_button {
  position: fixed;
  bottom: 16px;
  right: 20px;
}

.run_image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.total_time {
  position: fixed;
  bottom: 16px;
  margin-left: 10px;
  background-color: rgba(246, 246, 246, 0.8);
}

.text_begining {
  position: absolute;
  color: #bd1ae6;
  font-size: 2.7vw;
  text-shadow: 2px 2px 4px #000000;
  background-color: rgba(246, 246, 246, 0.6);
  box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.2), 0 20px 20px 20px rgba(0, 0, 0, 0.19);
}

.text_completion {
  position: absolute;
  bottom: 16px;
  right: 20px;
  text-align: center;
  color: #b41f1f;
  font-size: 30px;
  background-color: rgba(61, 192, 105, 0.6);
  box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.2), 0 20px 20px 20px rgba(0, 0, 0, 0.19);
}

/* https://www.w3schools.com/howto/howto_css_round_buttons.asp */
.sign_in_button {
  background-color: #1fb3b8;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.sign_in_button1 {border-radius: 2px;}