/* Center an image, https://www.w3schools.com/css/css_align.asp */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.form_login {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.run_button {
  position: fixed;
  bottom: 16px;
  right: 20px;
}

.total_time {
  position: fixed;
  bottom: 16px;
  left: 27%;
  margin-left: 10px;
}

.begining_text {
  position: absolute;
  color: #e61aa6;
  font-size: 24px;
  left: 50%;
  top: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #f6f6f6;
}


.completion_text {
  position: absolute;
  bottom: 16px;
  right: 20px;
  color: black;
  font-size: 20px;
}

/* https://www.w3schools.com/howto/howto_css_round_buttons.asp */
.sign_in_button {
  background-color: #1fb3b8;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.sign_in_button1 {border-radius: 2px;}