/* https://www.w3schools.com/howto/howto_css_image_text.asp */

.container {
  position: relative;
  text-align: center;
  color: orange;
  font-size: 16px;
  font-size: 2vw;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: relative;
  transform: translate(15px, 140%);
}

.top-right {
  position: absolute;
  top: 16px;
  right: 20px;
}

.bottom-right {
  position: absolute;
  bottom: 16px;
  right: 20px;
}

.fit {
  max-width: 100vw;
  max-height: 100vh;
  width: auto;
  margin: auto;
}
